<div class="row">
    <div class="col-xs-12">
        <img [src]="LoadedRecipe.imagePath" alt="{{LoadedRecipe.name}}" style="max-height: 300px;" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{LoadedRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class=""><a href="#">Add to Shopping List</a></li>
                <li class=""><a href="#">Edit Recipe</a></li>
                <li class=""><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{LoadedRecipe.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>
    </div>
</div>